<div class="list-group">
    <button type="button" class="list-group-item list-group-item-action active" (click)="outputDetails('Emna','Cheniour','assets/images/emna.jpg','if you can you will','22','22','22')">
      Emna Cheniour
    </button>
    <button type="button" class="list-group-item list-group-item-action" (click)="outputDetails('Haythem','Kaouech','assets/images/emna.jpg','if you can you will','22','22','22')">Haythem Kaouech</button>
    <button type="button" class="list-group-item list-group-item-action" (click)="outputDetails('Moetaz','Hellal','assets/images/emna.jpg','if you can you will','22','22','22')">Moetaz Hellal</button>
  </div>